{%load static%}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en">
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/d9f393eb75.js" crossorigin="anonymous"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youroom</title>
    <!--<link rel = "icon" href =  
		"/static/images/icontopWB6.png" 
        type = "image/x-icon">-->
    <link href="{%static 'style.css'%}" rel="stylesheet"/>
<script>
$(document).mousemove(
function(){
	if($("#username:hover").length != 0){
		$("#dd").css("display","block")
	}
	else{
		$("#dd").css("display","none")
	}
})

//custom alert

function CustomAlerth(){
  this.render = function(dialog){
      var dialogoverlay = document.getElementById('dialogoverlay');
      var dialogbox = document.getElementById('dialogbox');
      $('#dialogbox').fadeIn(60)
      $('#dialogoverlay').fadeIn(60)
      $("#dialogbox").css("top","40px")
      document.getElementById('dialogboxhead').innerHTML = "";
      document.getElementById('dialogboxbody').innerHTML = dialog;
      document.getElementById('dialogboxfoot').innerHTML = '<button id="alertok" style="font-size:18px;width:80px;padding:4px 10px;margin:4x; border-radius:10px;opacity:0.9; border:none;outline:none;font-weight:900;" onclick="Alerth.ok()">OK</button>';
      
  }
	this.ok = function(){
      $("#dialogbox").css("top","-60px")
		$('#dialogbox').fadeOut(40)
		$('#dialogoverlay').fadeOut(40)
		
	}
}
var Alerth = new CustomAlerth();

function CustomAlerta(){
  this.render = function(dialog){
      var dialogoverlay = document.getElementById('dialogoverlay');
      var dialogbox = document.getElementById('dialogbox');
      $('#dialogbox').fadeIn(60)
      $('#dialogoverlay').fadeIn(60)
      $("#dialogbox").css("top","40px")
      document.getElementById('dialogboxhead').innerHTML = "";
      document.getElementById('dialogboxbody').innerHTML = dialog;
      document.getElementById('dialogboxfoot').innerHTML = '<button id="alertok" style="font-size:18px;width:80px;padding:4px 10px;margin:4x; border-radius:10px;opacity:0.9; border:none;outline:none;font-weight:900;" onclick="Alerta.ok()">OK</button>';
      
  }
	this.ok = function(){
      $("#dialogbox").css("top","-60px")
		$('#dialogbox').fadeOut(40)
		$('#dialogoverlay').fadeOut(40)
		
	}
}
var Alerta = new CustomAlerta();


function CustomConfirm(){
	this.render = function(dialog,op){
      var dialogoverlay = document.getElementById('dialogoverlay');
      var dialogbox = document.getElementById('dialogbox');
      $('#dialogbox').fadeIn(60)
      $('#dialogoverlay').fadeIn(60)
      $("#dialogbox").css("top","40px")
      document.getElementById('dialogboxhead').innerHTML = "";
      document.getElementById('dialogboxbody').innerHTML = dialog;
      if(op=="yt"){
    	  
      }else{
      	document.getElementById('dialogboxfoot').innerHTML = '<form method="post" action="/accounts/logout/">{%csrf_token%}<button type="submit" id="alertok1" style="font-size:18px;width:80px;padding:4px 10px;margin:4x; border-radius:10px;opacity:0.9; border:none;outline:none;font-weight:900;">Logout</button></form><button id="alertok2" style="font-size:18px;width:auto;padding:4px 10px; border-radius:10px;opacity:0.9; border:none;outline:none;background:none;font-weight:900;"  onclick="Confirm.no()">No. Take me back!</button>';
	  }
	}
	this.no = function(){
      $("#dialogbox").css("top","-60px")
		$('#dialogbox').fadeOut(40)
		$('#dialogoverlay').fadeOut(40)
	}
}
var Confirm = new CustomConfirm();

</script>
</head>
<body>
<div id="upload">
	<center>
	<form id="upbox" enctype="multipart/form-data" method="post">
	{%csrf_token%}
		<input id="head-pdf" name="head" type="text" maxlength="32" placeholder="Title"><br><br>
		
		<input type="file" name="doc" id="upload-pdf" required>
		<label for="upload-pdf" id="upbtn">Upload pdf</label>
		<select id="select" name="background" required>
			  <option value="#0a4b94">Blue</option>
			  <option value="#DAA520">Yellow</option>
			  <option value="#95001b">Red</option>
			  <option value="#463f85">Purple</option>
			  <option value="#009342">Green</option>
			  <option value="#930051">Pink</option>
			  <option selected value="">Color</option>
		</select><br><br><br>
		<button type="submit"id="send">Upload</button><i id="cross" class="fas fa-times-circle"></i>
	</form>
	</center>
	
</div>
<div id="dialogoverlay"></div>
<div id="dialogbox">
<center>
  <div id="dialogbg" style="border-radius:16px;font-size:18px;width:30%;max-width:500px;min-width:340px;" >
    <div id="dialogboxhead"></div>
    <div id="dialogboxbody"></div>
    <div id="dialogboxfoot"></div>
  </div>
</center>
</div>


	<header id="header">
		<div class="flex1">
			<div id="logo" onclick="window.location.href='/'">Youroom</div>
			<div id="searchbar" align="center">
			
				<input id="search" name="si" type="text" {%if request.user.is_authenticated%}placeholder="Search.."{%else%}placeholder="Please login!" readonly{%endif%}>
			</div>
			<div class="switch" style="display:inline-block">
		        <button id="dark"class="inner-switch"><i class="fas fa-moon"></i></button>
		        
		    </div>
		    {%if user.is_authenticated%}
			<div id="username">AYO {{request.user.username|title}}
			<div id="dd">
				<div><a target="_blank" href="https://github.com/Nikhiljsh12/Youroom12" style="text-decoration:none">github link</a></div>
				<div id="logout">logout</div>
				
			</div>
			</div>
			{%else%}<!-- 
			<div class="switch" style="display:inline-block">
				<a id="google" href="{% provider_login_url 'google' %}"><i style="font-size:52px" class="fab fa-google"></i><span style="font-size:20px"> login</span></a>			
			</div> -->
			{%endif%}
			
			
		</div>	
	</header>
<div id="full">
{%block content%}
{%endblock%}
<center>
<div id="footer"><span style="opacity:0.6">Made by </span>Nikhil Joshi<span style="opacity:0.6"> at lighthouse hacks</span></div>
</center>
</div>
<div id="iyt"></div>
</body>
<script src="{%static 'main.js'%}">
</script>
<script>
$("#logout").on("click",function(){
	Confirm.render('Are you sure you want to logout?','logout')
})
$("#yt").on("click",function(){
	Confirm.render('Enter video url','yt')
})
      // 1. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 2. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('iyt', {
          height: '100%',
          width: '100%',
          playerVars: {
                    autoplay: 1,
                    loop: 1,
                    controls: 0,
                    showinfo: 0,
                    autohide: 1,
                    modestbranding: 1,
                    vq: 'hd720'},
          videoId: '-5KAN9_CzSA',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });
      }

      // 3. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.setVolume(10);
        event.target.playVideo();
      }

      var done = false;
      function onPlayerStateChange(event) {
        
      }
      function stopVideo() {
        player.stopVideo();
        
      }
$("#up").on("click",function(){
	$("#upload").fadeIn("fast")
})
$("#cross").on("click",function(){
	$("#upload").fadeOut("fast")
})

$("#send").on("click",function(){

if($("#head-pdf").val().length>0 && $("#upload-pdf").val().length>0 && $("#select").find(":selected").val().length>0){

}else{
	Alerta.render('Watch the empty fields!','a')
}
})


</script>
</html>